header{
    height: 80px;
    background-color: rgb(83, 172, 227);
    background-image: url(../img/pattern.png);
    background-size: contain;
    position: relative;
}
.header_logo{
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.title{
    margin-bottom: 0;
    font-size: 35px;
}

.author{
    margin: 0;
    font-size: 15px;
    color: gray;
}

.name{
    color: rgb(83, 172, 227);
}

.date{
    font-size: 10px;
    margin-bottom: 20px;
}

.phcredits p{
    margin: 0;
    font-size: 10px;
}

.phcredits{
    margin-bottom: 20px;
}

.yellow_highlight{
    background-color: yellow;
}

table{
    border-collapse: collapse;  border-spacing: 0;
    width: 100%;
    text-align: left;
}
.tablehead{
    background-color: rgb(51, 144, 201);
    color: white;
}


.tablebody{
    background-color: lightskyblue;
    line-height: 30px;
}
.half_table{
    width: 50%;
}

.white{
    background-color: white;
}